*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,219,1) 90%);
}
.container{
    max-width: 500px;
    width: 100%;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
}

.container .login-title{
    font-weight: 700;
    font-size: 23px;
}

.container form .user-details{
    margin: 15px;
}
.user-details .label{
    font-weight: 500;
    margin: 5px;
    display: block;
}
.container .user-details  input{
    width: 80%; 
    outline: none;
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid #ccc;
    height: 30px;
    font-size: 16px;
    transition: all 0.3s ease; 
}
.container button{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,219,1) 90%);
    color: white;
    padding: 10px 100px;
    font-size: 18px;
    margin: 10px 0;
}
.center{
    text-align: center;
}

@media(max-width: 584px){
    .container{
        width: 80%;
    }
    .container button{
        width: 100%;
    }
    .container .user-details  input{
        width: 100%;
    }
}   